EventSelectionSequence GenTauNmin GenTauNmax GenTopNmin GenTopNmax GenElectronNmin GenElectronNmax GenMuonNmin GenMuonNmax GenZNmin GenZNmax GenWNmin GenWNmax GenSMHiggsNmin GenSMHiggsNmax RecoVertexNmin RecoVertexNmax RecoMuon1Nmin RecoMuon1Nmax RecoMuon2Nmin RecoMuon2Nmax
