EventSelectionSequence GenTauNmin GenTauNmax GenTopNmin GenTopNmax GenElectronNmin GenElectronNmax GenMuonNmin GenMuonNmax GenZNmin GenZNmax GenWNmin GenWNmax GenSMHiggsNmin GenSMHiggsNmax RecoVertexNmin RecoVertexNmax RecoMuon1Nmin RecoMuon1Nmax RecoMuon2Nmin RecoMuon2Nmax RecoElectron1Nmin RecoElectron1Nmax RecoElectron2Nmin RecoElectron2Nmax RecoTau1Nmin RecoTau1Nmax RecoTau2Nmin RecoTau2Nmax RecoJet1Nmin RecoJet1Nmax RecoJet2Nmin RecoJet2Nmax RecoCentralJetNmin RecoCentralJetNmax RecoFirstLeadingJetNmin RecoSecondLeadingJetNmin RecoBJetNmin RecoBJetNmax SusyCombinationsNmin
